.grid {
    display: flex;
    float: left;
    width: 100%;
}

.image-wrapper {
  position: relative;
  overflow: hidden;
}

.image-wrapper > img {
  display: block;
  width: 650px;
  height: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
  object-position: center;
}

.image-wrapper > .content {
  position: absolute;
  inset: 0;
  font-size: 2rem;
  padding: 1rem;
  background-color: rgba(255, 255, 255, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-wrapper > img,
.image-wrapper > .content {
  transition: 200ms ease-in-out;
}

.image-wrapper:hover > img.zoom {
  transform: scale(1.1);
}

.image-wrapper > .content.fade {
  opacity: 0;
}
.image-wrapper:hover > .content.fade {
  opacity: 1;
}

